.gallery{
    margin: 2rem 3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

@media screen and (max-width:426px) {
    .gallery{
        margin: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media screen and (max-width:376px) {
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}