.loader-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
}
.loader {
  border: 0.5rem solid #fff;
  border-radius: 50%;
  border-top: 6px solid #8b79f2;
  width: 60px;
  aspect-ratio: 1;
  animation: spin 1.5s ease-in-out infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h4 {
  text-align: center;
}

@media screen and (max-width: 426px) {
  .loader {
    scale: 0.8;
  }
}
